
<%- include('partials/header', { title: 'Home - Deepak Chaurasiya Portfolio' }) %>

<!-- Hero Section -->
<div class="container my-5">
  <div class="row align-items-center">
    <div class="col-md-6 text-center text-md-start">
      <h1 class="hero-title">
  Hello, I'm <span class="typewriter" id="typewriter-name"></span>
</h1>
      <p class="lead">AI | Full-Stack Developer | Java Programmer | Data Structures & Algorithms | Generative AI | Machine Learning</p>

        <p>Computer Science student skilled in building scalable web applications, designing efficient solutions in Java, applying data structures and algorithms to solve complex problems, and leveraging Machine Learning for innovative solutions</p>
  </p>
      <a href="https://github.com/sangam962895" target="_blank" class="btn btn-dark mt-3 me-2">GitHub</a>
      <a href="/projects" class="btn btn-primary mt-3">View Projects</a>
      <a href="https://drive.google.com/file/d/1Y-1k3Ule9_zXBXTJwONRWJhQIgbWjJuF/view?usp=sharing" class="btn btn-danger mt-3">Resume</a>
    </div>
    <div class="col-md-6 text-center">
      <img src="/images/dev5.png" alt="Developer" class="img-fluid rounded shadow" style="margin-top: 10px;   margin-left: 25px; max-width: 270px; width: 100%;">
    </div>
  </div>
</div>



<!-- Skills Section -->
<div class="container-fluid bg-dark py-5">
  <div class="container">
    <h2 class="text-center mb-4 text-white">Technical Skills</h2>
    <div class="row row-cols-2 row-cols-md-4 g-4">
      <% const skills = [
        {icon:'bi-code-slash', text:'Java', color:'text-warning'},
{icon:'bi-filetype-py', text:'MongoDB', color:'text-info'},
{icon:'bi-filetype-js', text:'Express', color:'text-warning'},
{icon:'bi-node-plus-fill', text:'React', color:'text-success'},
{icon:'bi-database', text:'Node', color:'text-info'},
{icon:'bi-filetype-html', text:'HTML/CSS', color:'text-danger'},

{icon:'bi-cloud-fill', text:'Basic Python', color:'text-info'},

// Newly Added
{icon:'bi-database-fill', text:'MySQL', color:'text-primary'},
{icon:'bi-filetype-js', text:'JavaScript', color:'text-warning'},
{icon:'bi-graph-up', text:'Data Analysis', color:'text-success'},
{icon:'bi-git', text:'Git', color:'text-danger'},
{icon:'bi-filetype-py', text:'Python', color:'text-success'}

    
      ]; %>
      <% skills.forEach(skill => { %>
      <div class="col">
        <div class="card text-center skill-card h-100 bg-secondary text-white">
          <div class="card-body">
            <i class="bi <%= skill.icon %> fs-1 <%= skill.color %>"></i>
            <h6 class="card-title mt-2"><%= skill.text %></h6>
          </div>
        </div>
      </div>
      <% }); %>
    </div>
  </div>
</div>

<!-- Highlighted Projects -->
<div class="container my-5">
  <h2 class="text-center mb-4">Highlighted Projects</h2>
  <div class="row">
    <!-- Movies recommendation Project -->
    <div class="col-md-6 mb-4">
      <div class="card h-100 project-card">
        <div class="card-body">
          <h5 class="card-title"><strong>Recommendation System</strong> </h5>
          <p class="card-text">
            Movies Recommendation System: A Python & Streamlit app recommending top 5 similar movies with posters, ratings, genres, and live API data.
          </p>
          <a href="https://movies-recommendation-system-286f.onrender.com" target="_blank" class="btn btn-success me-2">View Live</a>
          <a href="https://github.com/sangam962895/movies-recommendation-system" target="_blank" class="btn btn-dark">GitHub</a>
        </div>
      </div>
    </div>

    <!-- Learning Management System Project -->
    <div class="col-md-6 mb-4">
      <div class="card h-100 project-card">
        <div class="card-body">
          <h5 class="card-title"><strong> Management System</strong></h5>
          <p class="card-text">
             A full-stack Learning Management System built with MongoDB, Express, React, and Node.js.
            It supports user authentication, course creation, assignments, dashboards, and role-based access for students, teachers, and admins.
            The system is interactive, responsive, and fully deployed online for real-time usage.
        </p>
         <a href="https://e-du-ca-cif5.vercel.app/" target="_blank" class="btn btn-success me-2">View Live</a>
          <a href="https://github.com/sangam962895" target="_blank" class="btn btn-dark">GitHub</a>
          
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Certifications -->
<div class="container my-5">
  <h2 class="text-center mb-4">Certifications</h2>
  <div class="row row-cols-1 row-cols-md-3 g-4">

    <!-- Certificate 1 -->
    <div class="col">
      <a href="https://drive.google.com/file/d/1YFMWhiTl1p9HiuCdMLIxRtJGv5TeI43c/view?usp=sharing" target="_blank" class="text-decoration-none">
        <div class="card h-100 text-center cert-card">
          <div class="card-body">
            <i class="bi bi-award-fill fs-1 text-success"></i>
            <h6 class="card-title mt-2 text-dark">What is Data Science</h6>
            <p class="card-text small text-muted">IBM | Coursera</p>
          </div>
        </div>
      </a>
    </div>

    <!-- Certificate 2 -->
    <div class="col">
      <a href="https://drive.google.com/file/d/1FkXwvD2IWOkao9mXQmTz8UzqQmupb-SM/view?usp=sharing" target="_blank" class="text-decoration-none">
        <div class="card h-100 text-center cert-card">
          <div class="card-body">
            <i class="bi bi-award-fill fs-1 text-primary"></i>
            <h6 class="card-title mt-2 text-dark">Python for Data Science, AI & Development</h6>
            <p class="card-text small text-muted">IBM | Coursera</p>
          </div>
        </div>
      </a>
    </div>

    <!-- Certificate 3 -->
    <div class="col">
      <a href="https://drive.google.com/file/d/11U9DOR4B6Ub2Re0G478qkb5okCMDPoBm/view?usp=sharing" target="_blank" class="text-decoration-none">
        <div class="card h-100 text-center cert-card">
          <div class="card-body">
            <i class="bi bi-award-fill fs-1 text-warning"></i>
            <h6 class="card-title mt-2 text-dark">Python Program</h6>
            <p class="card-text small text-muted">Codesoft</p>
          </div>
        </div>
      </a>
    </div>

    <!-- Certificate 4 -->
    <div class="col">
      <a href="https://drive.google.com/file/d/1vfg5xJOC09T3-BYuez1bkHd4n0wY8OcN/view?usp=sharing" target="_blank" class="text-decoration-none">
        <div class="card h-100 text-center cert-card">
          <div class="card-body">
            <i class="bi bi-award-fill fs-1 text-info"></i>
            <h6 class="card-title mt-2 text-dark">Python Project for Data Science</h6>
            <p class="card-text small text-muted">IBM | Coursera</p>
          </div>
        </div>
      </a>
    </div>

    <!-- Certificate 5 -->
    <div class="col">
      <a href="https://drive.google.com/file/d/1tg-Ht_vIN7sOyyxHnXbwH6nQr16lIG9O/view?usp=sharing" target="_blank" class="text-decoration-none">
        <div class="card h-100 text-center cert-card">
          <div class="card-body">
            <i class="bi bi-award-fill fs-1 text-secondary"></i>
            <h6 class="card-title mt-2 text-dark">ReactJs</h6>
            <p class="card-text small text-muted">Infosys Springboard</p>
          </div>
        </div>
      </a>
    </div>

    <!-- Certificate 6 -->
    <div class="col">
      <a href=https://drive.google.com/file/d/19VuyAkpnl0NvNt_L2jjRysmtS6HNMbab/view?usp=sharing" target="_blank" class="text-decoration-none">
        <div class="card h-100 text-center cert-card">
          <div class="card-body">
            <i class="bi bi-award-fill fs-1 text-danger"></i>
            <h6 class="card-title mt-2 text-dark">Data Analysis with Pandas and Python</h6>
            <p class="card-text small text-muted">Infosys Springboard</p>
          </div>
        </div>
      </a>
    </div>

  </div>
</div>




<%- include('partials/footer') %>



<script>
const name = "Sangam Kumar Gupt";
const el = document.getElementById("typewriter-name");
let idx = 0;
let typing = true;

function typeWriter() {
  if (typing) {
    if (idx <= name.length) {
      el.textContent = name.slice(0, idx);
      idx++;
      setTimeout(typeWriter, 200);
    } else {
      typing = false;
      setTimeout(typeWriter, 600);
    }
  } else {
    if (idx > 0) { // Only show name while idx > 0
      el.textContent = name.slice(0, idx);
      idx--;
      setTimeout(typeWriter, 160);
    } else {
      el.textContent = ""; // Ensure empty before restarting
      typing = true;
      setTimeout(typeWriter, 500);
    }
  }
}

typeWriter();
</script>
